.about {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-image: url('../../img/about-left-logos-game.png');
    width: 398px;
    height: 549px;
    left: -70px;
    top: 85px;
  }

  &::after {
    position: absolute;
    content: '';
    background-image: url('../../img/about-right-logos-game.png');
    width: 395px;
    height: 530px;
    right: -70px;
    top: 85px;
  }
}
.about__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 251px;
  padding-bottom: 335px;
  position: relative;
}

.about__title {
  margin: 0;
  font-weight: 800;
  font-size: 60px;
  line-height: 66px;
  letter-spacing: -0.015em;
  text-align: center;
  max-width: 694px;
  margin-bottom: 24px;
}

.about__misson {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  max-width: 586px;
  text-align: center;
}
