.button {
  display: block;
  color: $color-default-white;
  font-family: $manrope;
  background-color: $dark-magenta;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
