// дефолтные цвета
$color-default-black: #000000;
$color-default-white: #ffffff;

// цвета

$dark-magenta: #79109d;

//шрифт
$manrope: 'Manrope', 'Arial', sans-serif;
$arial: 'Arial', 'Helvetica', sans-serif;
